/* settings */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  border: 5px solid red;
  min-height: 100vh;
  padding: 3px;
  font-size: 18px;
  text-align: justify;
  background-color: #f7feff36;
}

h1,
h2 {
  margin-top: 0;
}

/* grid sandbox */

.grid__item {
  padding: 1rem;
}

.header {
  grid-area: 1 / first / 2 / span 3;
  background-color: #2196f3;
}

.mobile {
  color: #f44336;
  border: 1px groove black;
  text-align: center;
}

.article {
  grid-area: article;
  background-color: #ffee58;
  grid-column-start: first;
  grid-column-end: first;
}

.aside {
  background-color: #9ccc65;
  grid-area: 2 / second / 3 / fourth;
}

.footer {
  grid-area: footer;
  background-color: #263238;
}

@media screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "article . aside"
      "footer footer footer";
    grid-template-columns: [first] minmax(250px, 2fr) [second] 40px [third] 1fr [fourth];
    max-width: 700px;
    margin: 1rem auto;
  }
  .mobile {
    display: none;
  }
}
