/* settings */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  border: 5px solid red;
  min-height: 100vh;
  padding: 1rem;
}

/* grid sandbox */

.grid {
  display: grid;
  grid-template-columns: 50% 30%;
  grid-template-rows: 50%;
  row-gap: 10px;
  column-gap: 10px;
}

.grid__element {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
