/* settings */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  border: 5px solid red;
  min-height: 100vh;
  padding: 3px;
  font-size: 18px;
  text-align: justify;
  background-color: #f7feff36;
}

h1,
h2 {
  margin-top: 0;
}

/* grid sandbox */

.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "article . aside"
    "footer footer footer";
  grid-template-columns: [first] minmax(250px, 2fr) [second] 40px [third] 1fr [fourth];
}

.grid__item {
  padding: 1rem;
}

.header {
  grid-area: header;
  background-color: #2196f3;
}

.article {
  grid-area: article;
  background-color: #ffee58;
  grid-column-start: first;
  grid-column-end: first;
}

.aside {
  grid-area: aside;
  background-color: #9ccc65;
  grid-column-start: second;
  grid-column-end: span 2;
}

.footer {
  grid-area: footer;
  background-color: #263238;
}
